<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StudentMapper">
    <!--    id填方法名，resultType填全类名 -->
<!--    <resultMap id="studentResultMap" type="com.pojo.Student">-->
<!--        <result property="id" column="id"></result>-->
<!--        <result property="name" column="name"></result>-->
<!--        &lt;!&ndash;        复杂的属性要单独处理，association处理对象，collection 处理集合&ndash;&gt;-->
<!--        <association property="teacher" column="tid" javaType="com.pojo.Teacher" select="getTeacher"></association>-->
<!--    </resultMap>-->
<!--    <select id="getTeacher" resultType="com.pojo.Teacher">-->
<!--        select *-->
<!--        from mybatis.teacher-->
<!--        where id = #{tid}-->
<!--    </select>-->
<!--    <select id="getAllStudent" resultMap="studentResultMap">-->
<!--        select *-->
<!--        from mybatis.student-->
<!--    </select>-->
<!--    按照结果嵌套查询-->
    <select id="getAllStudent" resultMap="studentResultMap2">
        select  student.id sid,student.name sname,teacher.name tname,teacher.id tid  from student,teacher where student.tid=teacher.id;
    </select>
    <resultMap id="studentResultMap2" type="com.pojo.Student">
        <result property="id" column="sid"></result>
        <result property="name" column="sname"></result>
        <association property="teacher" javaType="com.pojo.Teacher">
            <result property="id" column="tid"></result>
            <result property="name" column="tname"></result>
        </association>
    </resultMap>
</mapper>